<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="mercedes-benz task" thread-count="2" parallel="tests" verbose="4">

	<listeners>
		<listener
			class-name="com.MercedesBenz.listeners.ExtentReportListener" />
		<listener
			class-name="com.MercedesBenz.listeners.AnnotationTransformer" />
	</listeners>

	<test name="Test on firefox">
		<parameter name="browser" value="firefox" />
		<parameter name="testname" value="ModelsPriceTest" />
		<classes>
			<class name="com.MercedesBenz.tests.ModelsPriceTest" />
		</classes>
	</test>
	
	<test name="Test on chrome">
		<parameter name="browser" value="chrome" />
		<parameter name="testname" value="ModelsPriceTest" />
		<classes>
			<class name="com.MercedesBenz.tests.ModelsPriceTest" />
		</classes>
	</test>
	

</suite>